<!--The content below is only a placeholder and can be replaced.-->
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Package" [(ngModel)]="packageNumber" name="packageNumber" value="">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Supplier" [(ngModel)]="supplier" name="supplier" value="">
  </mat-form-field>

  <button mat-raised-button type="button"
  matTooltip="Info about the action"
  (click)="openDialog()">
Camera
</button>





  <section class="example-section">
    <mat-slide-toggle
        class="example-margin"
        [color]="color"
        [checked]="checked"
        [disabled]="disabled">
      Broken
    </mat-slide-toggle>
  </section>



  <section class="example-section">
    <mat-slide-toggle
        class="example-margin"
        [color]="color"
        [checked]="checked"
        [disabled]="disabled">
      Forklift
    </mat-slide-toggle>
  </section>

  <mat-form-field class="example-full-width">
    <textarea matInput matTextareaAutosize placeholder="Leave a comment"></textarea>
  </mat-form-field>

  <mat-menu #appMenu="matMenu">
    <button mat-menu-item>Settings</button>
    <button mat-menu-item>Help</button>
  </mat-menu>
  

</form>
<button mat-icon-button [matMenuTriggerFor]="appMenu">
  <mat-icon>more_vert</mat-icon>
</button>



